# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
!run/**/*.dvc

# Files from Forge MDK
forge*changelog.txt

.cache

# vitepress
docs/.vitepress/dist
docs/.vitepress/cache
node_modules

# macOS
.DS_Store

# local development artifacts
.devcontainer/
caches/
daemon/
native/
ros2_java_ws/
wrapper/